<mat-toolbar color="primary"> 
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer class="mat-elevation-z8" #sidenav="matDrawer" mode="side" opened>
        <!-- mat-elevation-z8 " Es para agregar un sombreado a la imagen" -->
        <img class="Consejo_Estado mat-elevation-z3 rounded " src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Carolina_Sabino.jpg">
        <h4 class="name">Carolina</h4>
        <p class="desingnation">Analista</p>

        <mat-divider>

        </mat-divider>
        <!--  -->
        <button mat-button class="Menu_button">
            <mat-icon>logout</mat-icon>
            <span><a [routerLink]="['Usuario/UsuarioCreate']" >Correo</a></span>
        </button>
        <!--  -->
        <button mat-button class="Menu_button">
            <mat-icon>logout</mat-icon>
            <span><a [routerLink]="['Usuario/UsuarioEdit/:id']" >Seguimiento</a></span>
        </button>
        <!--  -->
        <button mat-button class="Menu_button">
            <mat-icon>logout</mat-icon>
            <span><a [routerLink]="['Usuario/Usuarios']" >Lista</a></span>
        </button>
        <mat-divider>

        </mat-divider>
        <!--  -->
        <button mat-button class="Menu_button">
            <mat-icon>logout</mat-icon>
            <span>Cerrar</span>
        </button>
        
    </mat-drawer>

    <mat-drawer-content>
        <div class="content mat-elevation-z8 justify-content-center">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>